header {
    /* background-color: red; */
    /* background-image: url('../img/kot.jpg'); */
    background: linear-gradient(45deg, orange, violet);
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ag-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ag-text-title {
    font-size: 1.5rem;
    font-weight: 500;
}

/* .overlay{
height: 100;
min-height: 100;
min-width: 100;
background: rgba(0, 0, 0, 0.50);
} */

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

/* мобильная версия */
@media screen and (max-width: 600px) {
    header {
        height: 60rem;
    }
}