.feedback {
  background-image: url('../img/pool.jpg');
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#email {
  padding: 2%;
}

#submit-button {
	margin-top: 3%;
  padding: 2%;
  cursor: pointer;
}
