.es-interesting {
    background-color: rgb(0, 0, 0);
}

.es-interesting-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.es-svg-icon {
    width: 2rem;
    height: 2rem;
    fill: black;
}